<div class="intro-text">
  <div id="js-parallax-window" class="parallax-window">
      <div class="parallax-static-content">
        <%= image_tag 'images/profile.jpg', :id => 'profile'%>
        <h1>Scott Sallinen</h1>
        <h4>Masters Student and Graduate Researcher</h4>
        <%= partial 'partials/icons' %>
        <%= link_to 'Github', 'https://github.com/ScottSallinen' %>
        <%= link_to 'LinkedIn', 'http://ca.linkedin.com/pub/scott-sallinen/47/66b/369'%>
        <%= link_to 'Google+', 'https://plus.google.com/+ScottSallinen'%>
        <%= mail_to 'scotts@ece.ubc.ca','Email' %>
      </div>
      <div id="js-parallax-background" class="parallax-background"></div>
    </div>
</div>
